doctype html
html(lang='en')
  head
    include partials/head

    // Custom styles for this template
    link(href='/css/layout.css', rel='stylesheet')

  body
    include partials/navigation-static

    // wrap in container to center content
    .container.interaction

      // start of content
      .row.content
        // can use as target to inject client spa, replacing the loading gif etc below...
        .col-md-12.target
          app-root
            h3.debug
              | #{environmentName}
            img(src='/img/loading.gif', class="loading")

    include partials/footer

    script(src='/js/lib/jquery-3.0.0.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/dist/inline.bundle.js')
    script(src='/js/dist/polyfills.bundle.js')
    script(src='/js/dist/styles.bundle.js')
    script(src='/js/dist/vendor.bundle.js')
    script(src='/js/dist/main.bundle.js')
